body,
html {
  background: #000;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", sans-serif;
  letter-spacing: -1px;
  color: #fff;
  font-size: 20px; //75px
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}

.top {
  position: absolute;
  top: 25px;
	height: 50%;
}

.left {
  position: absolute;
  left: 25px;
}

.right {
  position: absolute;
  right: 25px;
  text-align: right;
}

.center-hor {
  position: absolute;
  right: 50px;
  left: 50px;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
	height: 50%;
}

td {
    display:block;
    vertical-align: top;
}
.busName {
  font-size: 60;
  width: 50%;
  float: left;
}
.busDirection {
  position: relative;
  right: 0
}
.busTime {
  position: relative;
  right: 0
}
.
